
div{
   position: relative;
   top: 10px;
    width: 40%;
    margin: auto;
    text-align: center;
}

#mybox{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: aquamarine;
}

h2{
    position: relative;
    left: 50px;
}


/* #container{
    position: relative;
    top: 10px;
     width: 40%;
     margin: auto;
     text-align: center;
 
} */